<%- include('../components/layout_sup') %>

<div class="container mt-5 text-dark">
  <div class="text-center">
    <h3 class="display-4 fw-bold">Hi there 👋</h3>
    <h3 class="lead">Welcome to my profile</h3>
  </div>

  <div class="mt-5">
    <p class="lead">
      I'm Kelwin Jhackson Gonçalves de Moura, born in Fortaleza, Ceará, Brazil. I'm interested in programming and
      enjoy games that offer immersive experiences, have a high level of technical detail, and are low in bugs, like
      <strong>Red Dead Redemption 2</strong>.
    </p>
    <p class="lead">
      I’m eager to expand my skills and contribute to innovative projects in a dynamic team environment.
    </p>
  </div>
</div>

<%- include('../components/layout_inf') %>

<style>
  /* Text styles */
  body {
    background-color: #ffffff;
    color: #2c3e50;
  }

  h3 {
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .lead {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  /* Hover effects for text */
  .lead strong {
    color: #e67e22;
    font-weight: bold;
  }

  /* Adding a subtle shadow to text */
  .text-center h3 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
</style>
